@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Nunito+Sans:wght@300;400;500&family=Playfair+Display:wght@500&family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Lobster&family=Playfair+Display:ital,wght@1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header {
  box-shadow: 0px 2px 4px rgba(40, 40, 40, 0.3);
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  z-index: 999;
}
.logo {
}
.logo-img {
  width: 25%;
}

.menu {
  margin-top: 12px;
}
.menu ul {
  justify-content: left;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 38px;
  color: #926625;
  font-family: "Lobster", cursive;
}
.menu li {
  /* margin-left: 28px; */
}
.nav-item:hover .submenu {
  display: block;
}
.submenu {
  display: none;
  width: 200px;
  background: #0000004d;
  border-radius: 4px;
  padding: 0;
}
.nav-item .submenu li a {
  font-size: 16px;
  color: #fff;
  padding-left: 14px;
}
.nav-item .submenu li {
  padding: 0;
}
.text-shadow {
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.cart:hover {
  color: #fff;
}
.owl-nav,
.owl-dots {
  display: none;
}
.nav-item .submenu li:hover {
  background-color: #bbbbbb;
}
.search {
  justify-content: right;
}
.search i {
  color: #926625;
  padding: 6px;
}
.search input {
  padding: 6px 16px;
  border-radius: 20px;
  border: 1px solid #d2888870;
  outline: none;
}
.search-btn {
  border: none;
  margin-left: -38px;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 3px;
}
.search-btn:hover {
  border: 2px solid #d2888870;
  border-radius: 50%;
}

.search-box {
  display: none;
  z-index: 1;
}

.search-btn:focus ~ .input {
  display: block;
  opacity: 1;
}
.dropdown-toggle::after {
  color: #926625;
}
.icon-login-user {
  margin-right: 0 !important;
}
.owl-carousel {
  display: block;
}
/* start body */
.content-title {
  text-align: center;
}
.content-title span {
  font-size: 22px;
  font-family: "Great Vibes";
  font-size: 30px;
  color: #926625;
}
.content-title h2 {
  font-family: "Courgette";
  font-size: 38px;
  font-weight: 600;
}
.body__product-list {
  position: relative;
  overflow: hidden;
}
.body__desc {
  padding: 12px;
  position: absolute;
  bottom: -124px;
  background-color: #fff;
  width: 100%;
  padding-top: 24px;
  transition: all 0.3s ease-out;
  opacity: 0;
}
.body__product-list:hover .body__desc {
  bottom: 0;
  opacity: 1;
}
.body__product-list:hover {
  border: 1px solid #d4963a;
}
.product__desc {
  margin-bottom: 8px;
  text-align: center;
}
.product__desc-title {
  font-size: 14px;
  margin-bottom: 8px;
}
.product__desc-price {
  color: #ff1616;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 15px;
}
.product__desc-price-deil {
  font-weight: 300;
  margin-left: 5px;
  color: #bbbbbb;
  font-size: 13px;
}
.body__desc-Add {
  width: 100%;
  padding: 8px 0;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 20px;
}
.add-cart {
  justify-content: space-between;
}
.add-cart i {
  font-size: 22px;
  color: #926625;
}
.add-cart i:hover {
  cursor: pointer;
}
.icon-mess {
}
.icon-heart {
  margin: 0 8px;
}
.icon-cart {
}
.add-cart-btn {
  font-size: 16px;
  color: #ffffff;
  background-color: #926625;
}
/*start login
*/
.login {
  position: relative;
  min-height: 100vh;
  background-color: #f8dd30;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login .login-container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login .login-container .login-user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.login .login-container .login-user .login-imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

.login .login-container .login-user .login-imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login .login-container .login-user .login-formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

.login .login-container .login-user .login-form.login-formorm h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.login .login-container .login-user .login-formBx .login-form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.login
  .login-container
  .login-user
  .login-formBx
  .login-form
  input[type="submit"] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

.login .login-container .login-user .login-formBx .login-form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

.login .login-container .login-user .login-formBx .login-form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

.login .login-container .login-signupBx {
  pointer-events: none;
}

.login .login-container.active .login-signupBx {
  pointer-events: initial;
}

.login .login-container .login-signupBx .login-formBx {
  left: 100%;
}

.login .login-container.active .login-signupBx .login-formBx {
  left: 0;
}

.login .login-container .login-signupBx .login-imgBx {
  left: -100%;
}

.login .login-container.active .login-signupBx .login-imgBx {
  left: 0%;
}

.login .login-container .signinBx .login-formBx {
  left: 0%;
}

.login .login-container.active .signinBx .login-formBx {
  left: 100%;
}

.login .login-container .signinBx .login-imgBx {
  left: 0%;
}

.login .login-container.active .signinBx .login-imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  section .login-container {
    max-width: 400px;
  }

  section .login-container .login-imgBx {
    display: none;
  }

  section .login-container .login-user .login-formBx {
    width: 100%;
  }
}
/*
end
*/
/* end body */

/* footer */

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/* responsive */
